.avatar {
  width: 80px;
  border-radius: 50%;
}

.title-1 {
  font-size: 24px;
  font-weight: bold;
}

.text-link {
  color: #dddddd;
  text-decoration: none;
  font-weight: bold;
  border-bottom: dotted 1px #dddddd;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.text-link:hover {
  color: $theme-color;
  border-bottom: solid 1px $theme-color;
}

.divider {
  margin: 25px 0;
  border: 0;
  border-top: 1px solid lighten(#181818, 10%);
}
