.navbar {
  grid-area: navbar;
  background-color: #202020;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  width: 100%;

  li,
  a,
  button {
    color: #dddddd;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 10px;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
  }

  li {
    font-size: medium;
    display: inline-block;
    margin: 10px 0;
    padding: 0 30px;
  }

  @media (max-width: 600px) {
    li {
      padding: 0 15px;
      font-size: 14px !important;
    }
  }

  .active {
    border-bottom: solid 2px $theme-color !important;
    color: $theme-color !important;
  }

  .link {
    border-bottom: dotted 1px #dddddd;
  }

  .link:hover {
    color: #fff;
    border-bottom: solid 2px #fff;
  }
}
